{% set routeName = getRouter() %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
                class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-network-wired"></i></div>
            <div class="sidebar-brand-text mx-3"><span>{{ translate("APP_NAME") }}</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link {% if routeName == "main" %}active {% endif %}" href="{{ path("main") }}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>{{ translate("CONTROL_PANEL") }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routeName == "users" or routeName == "user_show" or routeName == "user_edit" %} active {% endif %} " href="{{ path("users") }}">
                    <i class="fas fa-user"></i>
                    <span>{{ translate("PLAYERS") }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routeName == "tickets" or routeName == "ticket_show" %}active {% endif %}" href="{{ path("tickets") }}">
                    <i class="fas fa-table"></i>
                    {{ translate("TICKETS") }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routeName == "sanction_list" or routeName == "sanction_show" %}active {% endif %}" href="{{ path("sanction_list") }}">
                    <i class="fas fa-hammer"></i>
                    {{ translate("SANCTIONS") }}
                </a>
            </li>
            <!--<li class="nav-item"><a class="nav-link" href="#admin"><i class="far fa-user-circle"></i>Gestion
                    Admin</a></li>
            <li class="nav-item"></li>-->
        </ul>

        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>