<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-4">{{ translate("SHOW_SANCTION") }}</h3>
    </div>

    <div class="card shadow">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="text-primary fw-bold m-0">{{ translate("SANCTION") }}</h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="sanctionShowTable">
                    <!--<thead class="thead-dark">
                    <tr>
                        <th class="text-center">{{ translate("ID") }}</th>
                        <th class="text-center">{{ translate("TARGET") }}</th>
                        <th class="text-center">{{ translate("SANCTION_TYPE") }}</th>
                        <th class="text-center">{{ translate("SERVER") }}</th>
                        <th class="text-center">{{ translate("CREATED_AT") }}</th>
                        <th class="text-center filter-false sorter-false">{{ translate("ACTIONS") }}</th>
                    </tr>
                    </thead>
                    <tbody class="text-center" id="sanctionListBody">
                    </tbody>-->
                    <tbody>
                    <tr>
                        <th>{{ translate("ID") }}</th>
                        <td>{{ sanction.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ translate("TARGET") }}</th>
                        <td><a href="#users/show/{{ sanction.target.id }}">{{ sanction.target.userName }}</a></td>
                    </tr>
                    <tr>
                        <th>{{ translate("SANCTION_TYPE") }}</th>
                        <td>{{ sanction.type }}</td>
                    </tr>
                    <tr>
                        <th>{{ translate("CREATED_AT") }}</th>
                        <td>{{ getDate(sanction.createdAt) }}</td>
                    </tr>
                    <tr>
                        <th>{{ translate("EXPIRE_AT") }}</th>
                        <td>{{ getDate(sanction.expireAt) }}</td>
                    </tr>
                    <tr>
                        <th>{{ translate("REASON") }}</th>
                        <td>{{ sanction.reason }}</td>
                    </tr>
                    <tr>
                        <th>{{ translate("SERVER") }}</th>
                        <td>{{ sanction.server }}</td>
                    </tr>
                    <tr>
                        <th>{{ translate("ACTIVE") }}</th>
                        <td>{{ sanction.isActive ? translate("YES") : translate("NO") }}</td>
                    </tr>
                    <tr>
                        <th>{{ translate("MOD") }}</th>
                        <td>{{ sanction.mod }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <a href="{{ path("sanction_list") }}" class="btn btn-warning">
                    <i class="fa fa-arrow-left"></i> {{ translate("BACK") }}
                </a>
            </div>
        </div>

    </div>
</div>