<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-4">{{ translate("EDIT_USER") }} - <small>{{ user.userName }}</small></h3>
    </div>


    <div class="row mb-3">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">{{ translate("EDIT_USER") }}</h6>
                </div>
                {{ form.form_start() }}
                <div class="card-body">
                    {{ form.fill() }}
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-user-edit"></i> {{ translate("EDIT") }}
                    </button>
                    <a href="{{ path("user_show", [ getRouteData().id ] ) }}" class="btn btn-warning">
                        <i class="fa fa-arrow-left"></i> {{ translate("BACK") }}
                    </a>
                </div>

                {{ form.form_end() }}
                <script>
                    $('#perms').iv_selectConvert( {text_el_style:'width:80%!important;border: 1px solid black;'} );
                </script>
            </div>
        </div>
    </div>
</div>