<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">{{ translate("LOGIN") }}</h4>
                        </div>
                        {{ form.form_start("user") }}
                        {{ form.fill() }}
                        <button class="btn btn-primary d-block btn-user w-100" type="submit">
                            {{ translate("LOGIN_BTN") }}
                        </button>
                        <hr>
                        {{ form.form_end() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="../assets/js/theme.js"></script>