<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-4">{{ translate("SHOW_TICKET") }} - <small>#{{ ticket.id }}</small></h3>
    </div>

    <div class="row mb-3">
        <div class="col-lg-3">
            {% if ticket.status == 0 %}
                <div class="card shadow mb-4" id="ticketActions">
                    <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">{{ translate("QUICK_ACTION") }}</h6>
                    </div>
                    <div class="card-body text-center">
                        {% if ticket.claimedBy == "none" %}
                            <a href="" class="btn btn-primary mb-1" id="claimTicket">{{ translate("CLAIM_TICKET") }}</a>
                        {% endif %}
                        <a href="" class="btn btn-warning mb-1" id="addToTicket">{{ translate("ADD_TO_TICKET") }}</a>
                        <a href="" class="btn btn-danger mb-1" id="addSanction">{{ translate("ADD_SANCTION") }}</a>

                        <a href="" class="btn btn-outline-danger mb-1"
                           id="closeTicket">{{ translate("CLOSE_TICKET") }}</a>

                    </div>
                </div>
            {% endif %}

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">{{ translate("INFO") }}</h6>
                </div>
                <div class="card-body">
                    <table id="infoTable">
                        <tr>
                            <th>{{ translate("DATE") }} :</th>
                            <td>{{ getDate(ticket.createdAt) }}</td>
                        </tr>
                        <tr>
                            <th>{{ translate("SERVER") }} :</th>
                            <td>{{ ticket.server }}</td>
                        </tr>
                        <tr>
                            <th>{{ translate("STATUS") }} :</th>
                            <td>{% if ticket.status == 0 %}
                                    {{ translate("OPEN") }}
                                {% else %}
                                    {{ translate("CLOSED") }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ translate("AUTHOR") }} :</th>
                            <td id="authorName" username="{{ ticket.author.username }}">
                                <a href="{{ path("user_show", [ticket.author.id]) }}">
                                    {{ ticket.author.username }}
                                </a>
                                <span class="badge rounded-circle p-2 " id="onlineBadge"> </span>
                            </td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top">{{ translate("TARGET") }} :</th>
                            <td>
                                <ul id="targetList">
                                    {% for target in ticket.targets %}
                                        <li>
                                            <a href="{{ path("user_show", [target.id]) }}">
                                                {{ target.username }}
                                            </a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </td>
                        </tr>
                        {% if ticket.claimedBy != "none" %}
                            <tr>
                                <th>{{ translate("MOD") }} :</th>
                                <td>{{ ticket.claimedBy }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">{{ translate("DESCRIPTION") }} - {{ ticket.title }}</p>
                        </div>
                        <div class="card-body">
                            {{ ticket.description|raw }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">{{ translate("CHAT") }}</h6>
                </div>
                <div class="card-body">
                    <!-- Panel Chat -->
                    <div class="chats" id="chatBox">


                    </div>
                </div>


                <div class="panel-footer">
                    <form id="sendChat">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" id="chatReply">
                            <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">{{ translate("SEND") }}</button>
          </span>
                        </div>
                    </form>


                    <!-- End Panel Chat -->

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addToTicketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ translate("ADD_TO_TICKET") }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="addToTicketModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveAddToTickets">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sanctionTicketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ translate("ADD_TO_TICKET") }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="sanctionTicketModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveSanctionTicket">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</div>